:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ocupar al menos toda la altura de la ventana
}

.main-content {
  flex-grow: 1; // Hace que el área de contenido principal crezca y empuje el footer hacia abajo
}

.main-content-wrapper {
  margin-left: auto;   // Centra el contenedor horizontalmente
  margin-right: auto;  // Centra el contenedor horizontalmente
  padding-left: 15px;  // Un poco de padding para que el contenido no toque los bordes
  padding-right: 15px; // en pantallas más pequeñas que max-width.
  width: 100%;         // Asegura que ocupe el ancho disponible hasta el max-width
  box-sizing: border-box; // Para que el padding no se sume al width/max-width
}
